:root {
  --grid-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --grid-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Warna grid lebih cerah di dark mode */
}

#background {
  content: "";
  position: relative;
  width: 320px;
  height: 400px;
  background-image: linear-gradient(var(--grid-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: center;
  z-index: -1;
  left: 50px;
  top: -40px;
  animation: moveGrid 5s infinite linear;
}

/* Responsiveness */

/* Ukuran layar >= 640px (sm) */
@media (min-width: 640px) {
  #background {
    width: 480px;
    height: 400px;
    background-size: 35px 35px;
    left: 90px;
    top: 50px;
  }
}

/* Ukuran layar >= 768px (md) */
@media (min-width: 768px) {
  #background {
    width: 480px;
    height: 400px;
    background-size: 40px 40px;
    left: 150px;
    top: 60px;
  }
}

/* Ukuran layar >= 1024px (lg) */
@media (min-width: 1024px) {
  #background {
    width: 540px;
    height: 420px;
    background-size: 35px 35px;
    left: 30%;
    top: 10px;
    animation: none;
  }
}
